.table-dark {
    /*background*/
    background-color: #3C3C48;
    /*text*/
    color: white;
}

.table-hover>tbody>tr:hover>td, 
.table-hover>tbody>tr:hover>th {
    /*background*/
    background-color: #969696;
    color:#eeeeee;
}

th {
    /*text*/
    text-align: center;
    /*font*/
    font-weight: 500;
    font-size: 20pt;
}
td {
    /*text*/
    text-align: center;
    /*font*/
    font-size: 26pt;
}