h1{
  font-size: 6vh;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'calibri', sans-serif; 
}

h2{
  font-size: 2vh;
  color: #969696;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'calibri', sans-serif;
}

table{
  width:100%;
  table-layout: fixed;
  height: 100% 
}

.roomname{
  font-size: 3vh;
  height:3vh;
}

.table{overflow-y: auto}

.table .thead-dark th {
 
  color: #fff;
 
  background-color: #32323C;
 
  border-color: #969696;
 
}


.table-dark {
 
  color: #fff;
 
  background-color: #3C3C48;
 
}

.tbl-content{
  height:3vh;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

/*.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #969696;
  color:#eeeeee;
}*/


th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 3vh;
  color: #fff;
  text-transform: uppercase;
}
td{
    text-align: left;
    font-size: 21vhs;
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #32323C, #C80000);
  background: linear-gradient(to right, #32323C, #C80000 );
  font-family: 'calibri', sans-serif;
  font-weight: 300; 
  padding-left: 40px;  
    
}
section{
  margin: 50px;
}


.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #969696;
	   -moz-box-shadow: 0 2px 2px -2px #969696;
	        box-shadow: 0 2px 2px -2px #969696;
}

select {
  background-color: #3C3C48;
  width: 20%;
  font-size: 3vw;

}



.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #474756;
 }

@media (min-width: 300px) { /* use the max to specify at each container level */
    .specified {   
        width:360px;  /* adjust to desired wrapping */
        white-space: normal !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}